.form-container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px; /* idk if this works on mobile*/
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.question-add {
  text-align: center;
}

.question-label,
.answers-label,
.correct-label,
.description-label
.difficulty-label {
  display: block;
  margin: 10px 0 5px;
}

.question-input,
.answers-input,
.description-input,
.difficulty-input,
.correct-select,
.remove-button,
.add-button,
.send-button {
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.remove-button,
.add-button,
.send-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.remove-button:hover,
.add-button:hover,
.send-button:hover {
  background-color: #0056b3;
}
