p {
    margin: 0.3rem;
    border-radius: 8px;
    text-align: center;
}

.answer-correct {
    /* color: #4eff3b; */
    border: 2px solid #116202;
    background-color: #cefdc9;
}

.answer-wrong {
    border: 2px solid #620202;
    background-color: #ffe6e6;
}