.review-question {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0;
}

.answers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .answers-grid {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(auto-fit, 1fr);
        height: 100%;
    }
}