.suggest-card {
    position: relative;
    border: 3px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    /* background-color: #696969; */
    transition: transform 0.2s;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .suggest-card:hover {
    transform: translateY(-5px);
    background-color: #ededed;
  }
  
  .suggest-info {
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .suggest-info h3 {
    font-size: 1.1rem;
    text-decoration: underline;
    margin: 0;
    text-align: center;
  }
  
  .suggest-info p {
    color: #2c2c2c;
    font-size: 0.9rem;
    margin: 0.2rem;
    text-align: center;
  }

  @media (min-width: 524px) and (max-width: 768px) {
    .suggest-info {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
  }

  @media (min-width: 768px) {
    .suggest-info {
        padding-left: 5rem;
        padding-right: 5rem;
    }
  }